
<div>
    <%=image_tag(@team.image ,:alt=>"not found") %>
</div>

<h1><%= @team.name %></h1>


<p> Created by - <%=@team.team_admin.account.name%> </p>

<%= link_to "View Admin Profile" , profile_path(@team.team_admin.account.id) %>


<h1>Team Members</h1>

<% @team.accounts.each do |account| %>
     <div>
        <h1><%=account.name%> -  <%=link_to "View Profile" ,profile_path(account)%> </h1>
        <hr>
     </div>
<%end%>



