<style>
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:12px;
  }
  .left{
    height: 100vh;
    width: 45%;
    float:left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap:6rem;

  }
  .right{
    width: 45%;
    float: right;

    /* height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; */

  }
  .client_freelancer_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:3rem;
  }
  .content{
    width: 80%;
    text-align: justify;
  }
  .client_wrapper,.freelancer_wrapper{
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    gap:12px;
  }
  .title{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: .6rem;
  }
</style>

<div class="wrapper">



<%=render "left"%>


  <div class="right">

    <div class="card shadow my-5">
      <div class="card-body">
          <h2 class="text-center my-3">Join With us</h2>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "accounts/shared/error_messages", resource: resource %>


                <div class="card">
                  <div class="card-body">
                      <h3>Personal Details</h3>
                      <div class="my-3 form-group field">
                        <%= f.label :name,class:"form-label" %>
                        <%= f.text_field :name, autofocus: true, autocomplete: "username",class:"form-control",required:true %>
                      </div>

                      <div class=" my-3 form-group field">
                        <%= f.label :email,class:"form-label" %>
                        <%= f.email_field :email,  autocomplete: "email",class:"form-control",required:true %>
                      </div>

                      <div class="my-3 form-group field">
                        <%= f.label :phone ,class:"form-label" %>
                        <%= f.number_field :phone, autocomplete: "phone",class:"form-control",required:true %>
                      </div>

                      <div class="my-3 form-group  field">
                        <%= f.label :gender ,class:"form-label"%>
                        <%= f.select(:gender,['male','female','others'],{include_blank: "Select Gender"},{:class=>"form-select",:required=>true}) %>
                      </div>

                      <div class=" my-3 form-group field">
                        <%= f.label :image,class:"form-label" %>
                        <%= f.file_field :image,class:"form-control",required:true  %>
                      </div>

                      <div class="my-3 form-groupfield">
                        <%= f.label :linkedin,class:"form-label" %>
                        <%= f.url_field :linkedin,class:"form-control" %>
                      </div>

                      <div class="my-3 form-group field">
                        <%= f.label :description,class:"form-label" %>
                        <%= f.text_area :description,class:"form-control" %>
                      </div>
                  </div>
                </div>



                <div class="card my-3">
                  <div class="card-body">
                      <h3 class="my-3">Select Your Role</h3>
                      <%= fields_for :role do |role| %>
                      <div class="field">
                        <%= role.label :role ,class:"form-label" %>
                        <%= role.select(:role,['Client','Freelancer'],{include_blank:"Select Role"},{:class=>"form-select"}) %>
                      </div>
                      <% end %>
                  </div>
                </div>



               <div class="card">
                <div class="card-body">
                  <h2 class="my-2">Password Details</h2>
                  <div class="field">
                    <%= f.label :password,class:"form-label" %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password",class:"form-control" %>
                  </div>

                  <div class="field">
                    <%= f.label :password_confirmation ,class:"form-label"%>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control" %>
                  </div>
                </div>
               </div>



               <div class="card my-3" id="client_attributes">
                <div class="card-body">
                  <h3 class="my-2">Client Details</h3>

                    <%=fields_for :client_attributes do |client| %>
                      <div class="my-2 form-group field">
                        <%= client.label :company,class:"form-label" %>
                        <%= client.text_field :company,class:"form-control" %>
                      </div>

                      <div class="my-2 form-group field">
                        <%= client.label :company_location,class:"form-label" %>
                        <%= client.text_field :company_location ,class:"form-control" %>
                      </div>
                    <%end %>
                  </div>
               </div>



               <div class="card my-3 shadow" id="freelancer_attributes">
                <div class="card-body">
                    <h2 class="my-2">Freelancer Details</h2>
                    <%=fields_for :freelancer_attributes do |freelancer| %>
                    <div class="my-2 form-group field">
                      <%= freelancer.label :github ,class:"form-label"%>
                      <%= freelancer.url_field :github,class:"form-control" %>
                    </div>

                    <div class="my-2 form-group field">
                      <%= freelancer.label :experience,class:"form-label" %>
                      <%= freelancer.text_area :experience,class:"form-control" %>
                    </div>
                  <%end %>
                  </div>
                </div>



                <div class="actions d-grid my-2 gap-2">
                  <%= f.submit "Sign up",class:"btn btn-success" %>
                </div>
                <% end %>
                  <%= render "accounts/shared/links" %>
                </div>
      </div>
    </div>




  </div>



<%= javascript_include_tag 'sign_up' %>



