


<div class="card shadow my-3">
  <div class="card-body">
    <%= form_with model: project do |form| %>
      <div class="my-3 form-group">
        <%= form.label :name ,class:"form-label" %><br>
        <%= form.text_field :name ,class:"form-control",required: true %>
      </div>
      <% project.errors.full_messages_for(:name).each do |message| %>
          <div class="text-danger"><%= message %></div>
      <% end %>

      <div class="my-3 form-group">
        <%= form.label :description ,class:"form-label"  %><br>
        <%= form.text_area :description ,class:"form-control",required: true  %><br>
      </div>

      <div class="my-3 form-group">
        <%=form.label :image ,class:"form-label" %> <br>
        <%= form.file_field :image ,class:"form-control",required: img  %>
      </div>

      <div class="my-3 form-group">
        <%= form.label :amount ,class:"form-label" %><br>
        <%= form.number_field :amount ,class:"form-control",required: true  %><br>
      </div>

      <div class="my-3 form-group">
        <%= form.submit button,class:"btn btn-success" %>
      </div>
    <% end %>

  </div>
</div>

