
<style>
    .show_client_img{
        height:48px;
        width: 48px;
    }
</style>



<%= render "header"%>




<div class="container">



    <div class="card shadow my-4">



            <div class="card-body">

                <% if @project.applicants.where(applicable_id:Freelancer.first.id,applicable_type:"Freelancer").length==0 %>

                <div>
                    <h4>Apply as an Individual for this project</h4>
                    <%= button_to "Apply Project as Freelancer",apply_project_freelancer_path(@project) ,method: :post ,class:"btn btn-primary btn-sm" %>
                </div>
                <hr>
                <% end %>


                <div>
                    <h4>Apply as a Team</h4>
                    <% @freelancer.teams.each do |team| %>
                        <%= render "teams",team: team %>
                    <% end%>
                </div>

            </div>



    </div>



    <div class="card shadow my-3">
        <div class="card-body">
            <h3>Applications</h3>
            <div class="row">


            <% @project.applicants.where(status:"applied").each do |applicant| %>
                    <%= render "appliers",applicant:applicant,d:true,project:@project %>
            <% end %>

            </div>
        </div>
    </div>

    <div class="card shadow my-3">
        <div class="card-body">
            <h3>Rejected Applications</h3>
            <div class="row">
            <% @project.applicants.where(status:"rejected").each do |applicant| %>
                    <%= render "appliers",applicant:applicant,d:false %>
            <% end %>
            </div>
        </div>
    </div>



    <div class="card shadow my-3">
        <div class="card-body">
            <h3>Project Members</h3>
            <div class="row">
                <% @project.project_members.each do |member| %>
                        <%= render "members" , member:member%>

                <% end %>
            </div>
        </div>
    </div>


</div>


