<%= render "header",user:@client%>

<div class="container">

    <div class="card shadow my-3">
        <div class="card-body">
            <p>Company Name : <%=@client.company%></p>
            <p>Company Location : <%=@client.company_location%></p>
            <div>
                <i class="fa-brands fa-linkedin fa-2xl" style="color: #0077b5;"></i>
            </div>
        </div>
    </div>

    <% if @client.projects.length > 0 %>
        <h2 class="my-2">My Projects</h2>

        <div class="row">
            <% @client.projects.each do |project|%>
                <%= render "projects/card" ,project: project ,author_display:false%>
            <% end %>
        </div>
    <% end %>

    <% if @client.account.recipient_feedbacks.length >0 %>
        <h2 class="my-2">Feedbacks</h2>

        <div class="row">
            <% @client.account.recipient_feedbacks.each do |feedback| %>
            <%= render "feedback",feedback:feedback %>
            <% end %>
        </div>
    <% end %>

</div>




