<style>
    .skill-options{
        position:relative;
        right: 10px;
        display: flex;
        justify-content: end;
        align-items: center;
        gap:12px;
    }
</style>

<%=render "header",user:@freelancer%>

<div class="container">

    <div class="row">
        <div class="col-12">
            <div class="card shadow my-3">
                <div class="card-body">
                    <p><strong>Experience : </strong></p>
                    <p><%= @freelancer.experience %></p>
                    <div class="d-flex gap-3">
                        <div>
                            <a href=<%=@freelancer.account.linkedin%> target="_blank"><i class="fa-brands fa-linkedin fa-2xl" style="color: #0077b5;"></i></a>
                        </div>
                        <div>
                            <a href=<%=@freelancer.github%> target="_blank"><i class="fa-brands fa-github fa-2xl" style="color: #1f3050;"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <% if @freelancer.teams.length!=0%>
        <h2 class="my-3">Teams</h2>
        <div class="row">
            <%@freelancer.teams.each do |team|%>
                <%=render "teams/card",team:team%>
            <%end%>
        </div>
    <% end %>

    <%if @freelancer.projects.length!=0 %>
        <h2 class="my-5">Previous Project Experience</h2>
        <div class="row">
            <%@freelancer.projects.each do |project|%>
                <%=render "projects/card",project:project, author_display: true%>
            <% end %>
        </div>
    <% end %>

    <% if @freelancer.account.recipient_feedbacks.length!=0 %>
        <h2 class="my-3">Feedbacks</h2>
        <div class="row">
            <%@freelancer.account.recipient_feedbacks.each do |feedback|%>
                <%=render "feedback",feedback:feedback %>
            <%end%>
        </div>
    <% end %>



    <%if @freelancer.skills.length!=0%>
        <h2 class="my-3">Skills</h2>
        <div class="card shadow my-3">
            <div class="card-body">
                <div class="row">
                <% @freelancer.skills.each do |skill|%>

                        <% bg="" %>
                        <% if skill.level=="Beginner" %>
                        <% bg="bg-info" %>
                        <% elsif skill.level=="Intermediate" %>
                        <% bg="bg-warning" %>
                        <% else %>
                        <% bg="bg-success" %>
                        <% end %>
                            <%= render "skills/skills",skill:skill,bg:bg %>

                    <% end %>
                </div>
            </div>
        </div>
    <% end %>

     <% if current_account.accountable == @freelancer %>
        <div class="my-3">
            <h2>Add Skills</h2>
            <%= render "skills/form" %>
        </div>
    <%end%>

</div>



